html, body {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
    background-color: #F9F9F9;
}

h1 {
    font-weight: lighter;
}

.centered h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered > h1 > img {
    margin-right: 8px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.wrapper {
    flex: 1;
}

input {
    font-size: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 100%;
    font-family: "Open Sans";    
    transition: 200ms ease;
}

input:focus {
    outline: none;
    border: 1px solid #999;
}

input[type="submit"] {
    background-color: royalblue;    
    color: #fff;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.centered {
    margin: 60px auto 0 auto;
    padding: 25px;
    width: 600px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #eee;
    /* box-shadow: 0px 0px 13px rgba(0,0,0,0.1); */
}

form {
    width: 250px;
    text-align: center;
}

.flexbox {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 800px;
    margin: 10px auto 20px auto;
}

.rect {
    box-sizing: border-box;
    padding: 25px;
    border-radius: 5px;
    /* box-shadow: 0px 0px 10px rgba(0,0,0,0.1); */
    border: 1px solid #eee;
    margin: 7px;
    width: 600px;
    background-color: #fff;
}

p {
    color: rgba(0,0,0,0.8);
}

span {
    /* color: #000; */
    font-weight: lighter;
    font-size: 20px;
}

.txt-lg {
    font-size: 50px;
    font-weight: lighter;
}

.rect p img, .rect a img {
    margin-right: 5px;
    vertical-align: middle;
}

a, span {
    /* padding: 3px 5px; */
    color: #000;
    text-decoration: none;
    transition: 500ms ease;
    color: royalblue;
    border-bottom: 1px solid transparent;
    /* background-color: rgb(226, 255, 235); */
    /* border-radius: 20px;     */
}

a {
    border-color: #888;
}

a:visited {
    text-decoration: none;
    color: #000;
}

a:hover {
    /* background-color: rgb(170, 255, 208); */
    border-color: royalblue;
    /* color: #fff; */
}

footer {
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    margin-bottom: 0;
}